---
layout: page
title: Publication
---


<h2>Select Publication</h2>

<p> Please visit <a href="https://scholar.google.com/citations?user=9i_MgykAAAAJ&hl=en">Google Scholar</a> for a full publication list.</p>


<div>
{% for pub in site.data.pub %}
    {% if pub.ENTRYTYPE == "misc" %}
        {% include pubentry.html %}
    {% endif %}
{% endfor %}
</div>

<div>
{% for pub in site.data.pub %}
    {% if pub.ENTRYTYPE == "inproceedings" or pub.ENTRYTYPE == "article" %}
        {% include pubentry.html %}
    {% endif %}
{% endfor %}
</div>
<p>* Equal contribution</p>