---
layout: page
title: Publication
---

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<h2>Select Publication</h2>

<p> Please visit <a href="https://scholar.google.com/citations?user=9i_MgykAAAAJ&hl=en">Google Scholar</a> for a full publication list.</p>


<div>
{% for pub in site.data.pub_auto %}
    {% if pub.ENTRYTYPE == "misc" %}
        {% if pub.img %}
            {% include pubentry.html %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>

<div>
{% for pub in site.data.pub_auto %}
    {% if pub.ENTRYTYPE == "inproceedings" or pub.ENTRYTYPE == "article" %}
        {% if pub.img %}
            {% include pubentry.html %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>
<p>* Equal contribution</p>