.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centeravatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  border-radius: 50%;
}

.rectavatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
}

.right {
  float: right;
  font-size: 1.25rem;
}

.pubtitle{
    color: #000080
}

.pubwraper{
    left: 0;
    right: 0;
    overflow:auto;
    padding-bottom:1rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.avatar{
    left: 0;
    width: 33%;
    max-width:16rem;
    height: 16rem;
    float: left;
    text-align: center;
    font-size: 0.9rem;
    padding-right: 3%;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.pubentry{
    float: left;
    width: 60%;
    margin-left: 3%;
}

.pubimg{
    float: left;
    width: 35%;
    max-width: 14rem;
}

.pubmedia{
    margin-top: auto;
    margin-bottom: auto;
    height: 1rem;
    margin-left: 0.5em;
}

.pubmediacontainer {
  margin-top: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.labtitle {
  font-size: 1.7rem;
  text-align: center;
  color: #186DB6;
  margin-bottom: 2rem;
}

.researchimg{
    width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 54em) and (min-height: 36em){
    .researchimg{
        float: right;
        width: 40%;
        max-width: 20rem;
        margin-left: 1rem;
    }
}