<div class="alumni">
        <a href="{{people.web}}">{{people.name}}</a>
        {% if people.next %} -> <em>{{people.next}}</em>{% endif %}
        <br><em>{{people.role}}, {{people.department}}, {{people.year}}</em>
      {% if people.email %}<a class="fa fa-envelope" href="mailto:{{people.email}}"></a>{% endif %}
      {% if people.gscholar %} <a class="ai ai-google-scholar" href="{{people.gscholar}}"></a>{% endif %}
      {% if people.github %}<a class="fa fa-github" href="{{people.github}}"></a>{% endif %}
      {% if people.linkedin %}<a class="fa fa-linkedin" href="{{people.linkedin}}"></a>{% endif %}
      {% if people.twitter %}<a class="fa fa-twitter" href="{{people.twitter}}"></a>{% endif %}
      {% if people.facebook %}<a class="fa fa-facebook" href="{{people.facebook}}"></a>{% endif %}
</div>