<div class="alumni">
  <a href="{{people.web}}">{{people.name}}</a>
  {% if people.email %}<a class="fas fa-envelope" href="mailto:{{people.email}}" aria-label="Email"></a>{% endif %}
  {% if people.gscholar %}<a class="ai ai-google-scholar" href="{{people.gscholar}}" aria-label="Google Scholar"></a>{% endif %}
  {% if people.github %}<a class="fab fa-github" href="{{people.github}}" aria-label="GitHub"></a>{% endif %}
  {% if people.linkedin %}<a class="fab fa-linkedin" href="{{people.linkedin}}" aria-label="LinkedIn"></a>{% endif %}
  {% if people.twitter %}<a class="fab fa-twitter" href="{{people.twitter}}" aria-label="Twitter"></a>{% endif %}
  {% if people.facebook %}<a class="fab fa-facebook" href="{{people.facebook}}" aria-label="Facebook"></a>{% endif %}
  &nbsp;·&nbsp;<em>{{people.note}}, {{people.year}}</em>
  {% if people.next %}&nbsp;→&nbsp;<em>{{people.next}}</em>{% endif %}
</div>
