{% if people.avatar %}
<div class="avatar">
    <img src="{{ site.baseurl }}/assets/avatar/{{people.avatar}}" alt="Avatar" class="centeravatar">
        <a href="{{people.web}}">{{people.name}}</a>
        {% if people.type == "PI" %}
        <br><em>PI, {{people.department}}</em>
        {% endif %}
        {% if people.type == "PHD" %}
        <br><em>PhD Student, {{people.department}}</em>
        {% endif %}
        {% if people.type == "Grad" %}
        <br><em>MS Student, {{people.department}}</em>
        {% endif %}
        {% if people.type == "Undergrad" %}
        <br><em>Undergraduate Student, {{people.department}}</em>
        {% endif %}
        {% if people.type == "Visitor" %}
        <br><em>Visitor, {{people.department}}</em>
        {% endif %}
        {% if people.coadvisor %}
        <br><em>(Co-advisor: {{people.coadvisor}})</em>
        {% endif %}
        {% if people.email %}<br><a class="fa fa-envelope" href="mailto:{{people.email}}"></a>
              {% if people.gscholar %} <a class="ai ai-google-scholar" href="{{people.gscholar}}"></a>{% endif %}
              {% if people.github %}<a class="fa fa-github" href="{{people.github}}"></a>{% endif %}
              {% if people.linkedin %}<a class="fa fa-linkedin" href="{{people.linkedin}}"></a>{% endif %}
              {% if people.twitter %}<a class="fa fa-twitter" href="{{people.twitter}}"></a>{% endif %}
              {% if people.facebook %}<a class="fa fa-facebook" href="{{people.facebook}}"></a>{% endif %}
          {% endif %}
</div>
{% endif %}
