<div><li>
    <strong><span style="color:#000080;">Cooperative Autonomy:</span></strong>
    <em>AVR [<a href="https://doi.org/10.1145/3210240.3210319">Mobisys'18</a>],
        CarMap [<a href="https://www.usenix.org/system/files/nsdi20-paper-ahmad.pdf">NSDI'20</a>],
        Coopernaut [<a href="https://arxiv.org/abs/2205.02222">CVPR'22</a>]</em>,
        AutoCast [<a href="https://arxiv.org/abs/2112.14947">Mobisys'22</a>]</em>
</li>
<li>
    <strong><span style="color:#000080;">System for Edge ML:</span></strong>
    <em>
        FedML [<a href="https://arxiv.org/abs/2007.13518">NeurIPS'20(SpicyFL)</a>],
        ML-EXray [<a href="https://arxiv.org/abs/2111.04779">MLSys'22</a>],
        MCAL [<a href="https://openreview.net/pdf?id=1FxRPKrH8bw">ICLR'23</a>]
    </em>
</li>
<li>
<strong><span style="color:#000080;">Video Delivery & Analytics:</span></strong>
    <em>CoBCast [<a href="https://doi.org/10.1145/2942358.2942372">Mobihoc'16</a>],
        Kestrel [<a href="https://ieeexplore.ieee.org/abstract/document/8366976">IoTDI'18</a>]</em>
</li>
<li>
<strong><span style="color:#000080;">Vehicular Sensing:</span></strong>
    <em>CarLog [<a href="https://doi.org/10.1145/2668332.2668350">Sensys'14</a>],
        CarLoc [<a href="https://doi.org/10.1145/2809695.2809725">Sensys'15</a>],
      ContextSensing [<a href="https://ieeexplore.ieee.org/abstract/document/8100990">TVT'17</a>]</em>
</li>
</div>