<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
<!--      <img src="{{ site.baseurl }}/assets/HangQ.jpg" alt="Avatar" class="centeravatar">-->
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <div class="social-icons">
      <div class="social-icons-right">
        <div class="right">
          <a class="ai ai-google-scholar" href="https://scholar.google.com/citations?user=9i_MgykAAAAJ&hl=en"></a>
          <a class="fa fa-github" href="https://github.com/hangqiu"></a>
          <a class="fa fa-twitter" href="https://twitter.com/hangqiu"></a>
          <a class="fa fa-facebook" href="https://facebook.com/hang.qiu.1"></a>
          <a class="fa fa-envelope" href="mailto:hangq@ucr.edu"></a>
        </div>
      </div>
    </div>

    <div></div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.title != "Join Us" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.title == "Join Us" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

  </div>
</div>
