{% assign sponsor = site.data.sponsor | sort: "name" %}
{% assign gov = sponsor | where: "type", "gov" %}
{% assign com = sponsor | where: "type", "com" %}
{% assign mil = sponsor | where: "type", "mil" %}
{% assign ordered_sponsors = gov | concat: com | concat: mil %}

<div class="sponsor-marquee">
<div class="sponsor-grid">
  {% for p in ordered_sponsors %}
    <div class="sponsor-box">
      <img src="{{ site.baseurl }}/assets/sponsor/{{p.avatar}}" alt="{{ p.name }}" class="sponsor-logo">
    </div>
  {% endfor %}
  <!-- Duplicate for infinite scroll -->
  {% for p in ordered_sponsors %}
    <div class="sponsor-box">
      <img src="{{ site.baseurl }}/assets/sponsor/{{p.avatar}}" alt="{{ p.name }}" class="sponsor-logo">
    </div>
  {% endfor %}
</div>
</div>
